<div class="bg-dark text-center" style="padding: 1em 0 1em 0;">

    <h5 class="card-title" style="color: white;">Share your secrets, anonymously!</h5>
    <h6 class="card-title" style="color: white;">&copy; Copyright 2022</h6>
    <p class="card-text" style="color: white;">Made by <a href="https://github.com/Kritika30032002"
            style="text-decoration: none;color: white;"> Kritika Gupta </a></p>
    <!-- <p class="card-text" style="color: white;">&copy; Copyright 2022 </p> -->
    <!-- <div style="padding-bottom: 5em;">     -->
    <a href="https://www.linkedin.com/in/kritika-gupta-343458212" class="btn my-2 my-sm-0" type="submit" style="
        border: none;
        margin-right: 1em;
      ">
        <img src="https://img.icons8.com/fluency/48/000000/linkedin.png" height="50px" width="50px" />
    </a>
    <a href="https://github.com/Kritika30032002" class="btn my-2 my-sm-0" type="submit" style="
        border: none;
        margin-right: 1em;
      "> <img src="https://img.icons8.com/fluency/48/000000/github.png" height="50px" width="50px" />
    </a>

    <!-- </div> -->

</div>


</body>

</html>