<div class="bg-dark text-center" style="padding: 1em 0 1em 0;">
    
  <h5 class="card-title" style="color: white;">Share your secrets, anonymously!</h5>
  <p class="card-text" style="color: white;">Follow me on my Socials:</p>
  <!-- <div style="padding-bottom: 5em;">     -->
  <a
      href="https://www.linkedin.com/in/kritika-gupta-343458212"
      class="btn my-2 my-sm-0"
      type="submit"
      style="
        color: black;
        border: none;
        background-color: white;
        margin-right: 1em;
      "
    >LinkedIn</a>
    <a
      href="https://github.com/Kritika30032002"
      class="btn my-2 my-sm-0"
      type="submit"
      style="
        color: black;
        border: none;
        background-color: white;
        margin-right: 1em;
      "
    >GitHub</a>
    <a
      href="https://leetcode.com/kritikagupta3003/"
      class="btn my-2 my-sm-0"
      type="submit"
      style="
        color: black;
        border: none;
        background-color: white;
        margin-right: 1em;
      "
    >LeetCode</a>
    <a

      href="https://www.codechef.com/users/kritika30"
      class="btn my-2 my-sm-0"
      type="submit"
      style="
        color: black;
        border: none;
        background-color: white;
        margin-right: 1em;
      "
    >CodeChef</a>
<!-- </div> -->

</div>


</body>
</html>
