<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Secrets</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a
        href="/"
        class="navbar-brand"
        style="color: white; cursor: pointer; margin-left: 1em"
      >
        <i class="fas fa-key fa-1.5x" style="color: white"></i>
        Secrets</a
      >
      <a href="/"
      class="navbar-brand"
      style="color: white; cursor: pointer; margin-left: 50em" 
       role="button">
       Home</a>
      <form class="form-inline">
        <a
          href="/register"
          class="btn my-1 my-sm-0"
          type="submit"
          style="color: white; margin-right: 0.3em"
        >
          Register
        </a>
        <a
          href="/login"
          class="btn my-2 my-sm-0"
          type="submit"
          style="
            color: black;
            border: none;
            background-color: white;
            margin-right: 1em;
          "
        >
          Login
        </a>
      </form>
    </nav>
  </body>
</html>
