<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrets</title>
    <link rel="icon" type="image/x-icon" href="image/key.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/dark-styles.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <link rel="stylesheet" href="css/SuggestModal.css" />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between" id="navbar">
      <a href="/" class="navbar-brand" style="border: 1px solid transparent">
        <i class="fas fa-key fa-1.5x logo" style="color: white"></i>
        Secrets</a
      >
      <form class="form-inline" onsubmit="return false;">
        <button id="theme-toggle">
          <i class="fas fa-sun" style="display: none;font-size: medium;"></i>
          <i class="fas fa-moon" style="font-size: medium;"></i>
        </button>
        <div class="nav_big">
          <a href="/" class="btn my-2 my-sm-0 home" type="submit"> Home </a>
          <a href="/about" class="btn my-2 my-sm-0 about" type="submit">
            About
          </a>
          <a href="/contact" class="btn my-2 my-sm-0 about" type="submit">
            Contact
          </a>
          <a href="/register" class="btn my-1 my-sm-0 register" type="submit">
            Register
          </a>
          <a href="/login" class="btn my-2 my-sm-0 login" type="submit">
            Login
          </a>
        </div>
        <div class="hamburger" onclick="toggle_nav()">
          <i class="fa fa-bars" style="font-size: medium;"></i>
        </div>
      </form>
    </nav>

    <div class="hide" id="nav_small">
      <div class="hide" id="nav_small2">
        <a href="/" class="btn my-2 my-sm-0 home" type="submit" onclick="toggle_nav()">Home</a>
        <a href="/about" class="btn my-2 my-sm-0 about" type="submit" onclick="toggle_nav()">About</a>
        <a href="/contact" class="btn my-2 my-sm-0 about" type="submit" onclick="toggle_nav()">Contact</a>
        <a href="/register" class="btn my-1 my-sm-0 register" type="submit">Register</a>
        <a href="/login" class="btn my-2 my-sm-0 login" type="submit">Login</a>
      </div>
    </div>

    <!-- Added JS for toggle -->
    <script>
      function toggle_nav() {
        const navSmall = document.getElementById('nav_small');
        const navSmall2 = document.getElementById('nav_small2');
        
        navSmall.classList.toggle('hide');
        navSmall2.classList.toggle('hide');
      }
    
      // Function to hide nav_small and nav_small2 on page load
      function hide_nav_on_load() {
        const navSmall = document.getElementById('nav_small');
        const navSmall2 = document.getElementById('nav_small2');

        // Add 'hide' class to both elements on page load
        navSmall.classList.add('hide');
        navSmall2.classList.add('hide');
      }

      // Call the function to hide elements when the DOM is fully loaded
      document.addEventListener('DOMContentLoaded', hide_nav_on_load);
    </script>
    
  </body>
</html>
