# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

GOOGLE_ID=376977486363-qk5up3tk4af6df27054paao5bca3tp1a.apps.googleusercontent.com
GOOGLE_SECRET=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

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

PUBLIC_BASENAME=http://localhost:3000/
PORT=3000
MONGO_SERVER=mongodb://127.0.0.1:27017
