<%- include('partials/header') %>
<div class="" style="margin-bottom: 197px;">

  <div class="" style="margin-top: 10%; margin-bottom: 10%;">

    <table>
      <tr>
        <td>
          <div class="" style="padding: 0 3% 0 3% ">
            <h1>About</h1>
            <p>We created this site with an idea of having a fun space where people could share their secrets, without revealing their true identity. Thus, come make confessions, tell us your secrets and we will store them for you,
              without revealing your identity. Your identity will be completely hidden and your message will be delivered.</p>
          </div>

        </td>
        <td>
          <img src="image/secrets.webp" alt="" style="width: 100%; padding:2%">
        </td>
      </tr>
    </table>
  </div>

</div>
<%- include('partials/footer') %>
