<%- include('partials/header') %>

<p
  class="about-title"
>
  About Secrets
</p>

<div class="container-about">
  <div class="container-text" style="padding: -3% 6% 6% 20%">
    <p style="font-size: 1.5rem;" class="paragraph">
      Secrets is the place where everyone can add their secrets.It is created
      with an idea of having a fun space where people could share their secrets,
      without revealing their true identity. It makes more intresting to know
      that other dont want to share it but still are sharing. Thus, share your
      secrets and we will store them for you, without revealing your identity,
      making things interesting.
    </p>
  </div>
  <div class="container-image">
    <img src="image/secrets.webp" alt="" style="width: 100%; padding: 2%" />
  </div>
</div>

<!-- <div  class="container-about">
  <div class="container-text" style="padding: 0 3% 0 3%">
    <h1>About</h1>
    <p style="font-size: 1.5rem" class="paragraph">
      Secrets is the place where everyone can add their secrets.It is created
      with an idea of having a fun space where people could share their secrets,
      without revealing their true identity. Thus,share your secrets and we will
      store them for you, without revealing your identity, making things
      interesting.
    </p>
  </div>
  <div class="container-image">
    <img src="image/secrets.webp" alt="" style="width: 100%; padding: 2%" />
  </div>
</div> -->
<%- include('partials/footer') %>
