<%- include('partials/header') %>


<div class="modal-box" >
    <img class="banner-img-suggest"  src="image/contact2.jpg" ></img> 
     
          <div class='modal-div'>
         
       <p class='suggest-subheader'> Get In Touch</p>
       <div class='input-suggest-flexbox' >
       <div style="margin:3vh 4vh">
       <p class='input-header' id="NAME">Name</p>
         <input class='input-box' style="width:100%; border-radius: none;" type="text" placeholder='John'></input>
     
       </div>
       
       <div style="margin:3vh 4vh">
       <p class='input-header' id="CONTACT">Contact</p>
         <input class='input-box' style="width:100%"  type="text" placeholder='9152345677'></input>
     
       </div>
       </div>
       <div class='input-suggest-flexbox'>
       <div style="margin:3vh 4vh">
       <p class='input-header' id="EMAIL">Email</p>
         <input class='input-box' style="width:100%" type="text" placeholder='john@gmail.com'></input>
     
       </div>
       
       <div style="margin:3vh 4vh">
       <p class='input-header' id="SUBJECT">Subject</p>
         <input class='input-box' style="width:100%"  type="text" placeholder='Hey'></input>
     
       </div>
       </div>
      
       <div style="margin:4vh">
       <p class='input-header' id="TEXT">Message</p>
        <textarea class='suggest-textarea' cols="30" rows="3" placeholder='Hello!'></textarea>
     
       </div>
       <button class='suggest-btn' id="send_button">Send</button>
     </div>
     </div>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
    var btn=document.getElementById("send_button");
    btn.addEventListener('click', function(e){
        var name=document.getElementById("NAME").value;
        var subject=document.getElementById("SUBJECT").value;
        var email=document.getElementById("EMAIL").value;
        var contact=document.getElementById("CONTACT").value;
        var text=document.getElementById("TEXT").value;
        e.preventDefault();
            Email.send({
            Host : "smtp.elasticemail.com",
            Username : "username_smtp",
            Password : "generate_from_smtp_server",
            To : 'your_email',
            From : `${email}`,
            Subject : `${Subject}`,
            Body : `<br>${text} <br><br> Name: ${name} <br> Email: ${email} <br>Contact:${contact}`
        }).then(
            async message => {
                if (message=="OK"){
                    await Swal.fire({
                        title: "Success!",
                        text: "Message Sent Successfully!",
                        icon: "success"
                    });
                }
                else{
                    await Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong!",
                    });
                }
            }
        ).then(async (res)=> {
            await window.location.reload()
        }
        )
    })
    
</script>
<%- include('partials/footer') %>