<%- include('partials/header') %>

<div class="flexbox hero">
  <div class="flexbox container">
    <div class="main-content">
      <h1>Don't Keep Your Secrets,</h1>
      <h1 class="display-3">Share Them Anonymously!</h1>
    </div>

    <div class="flexbox buttons-container" style="opacity: 0">
      <a href="/register" role="button"
        ><button class="secondary">Register</button></a
      >
      <a href="/login" role="button"><button>Login</button></a>
    </div>
  </div>
  <div class="illustration">
    <i class="fas fa-key fa-6x"></i>
  </div>
</div>
<section id="about" class="flexbox">
  <p>
    We allow you to add your secrets that you don't want to share with anyone.
  </p>
  <a href="/about"><button>Know More</button></a>
</section>
<%- include('partials/footer') %>
