<%- include('partials/header') %>

<main>
    <section class="c1">
       <b><h2>Privacy Policy</h2></b> 
       <br> <br>
        <div>
            <h4>Data Collection</h4>
            <p>At Top Secrets, we prioritize your privacy. While using our website, we may collect personal information such as your email address during the login process. However, rest assured that any data collected is handled securely and used solely for the purpose of providing you with access to our platform.</p>
        </div>
    </section>
    <section class="c1">
        <div>
            <h4>Data Usage</h4>
            <p>Your secrets are exclusively displayed on our website - "Top Secrets" for others to view anonymously. We do not exploit this data for any other purpose beyond its intended use. Rest assured, your trust is paramount to us, and we are committed to maintaining it.</p>
        </div>
    </section>
    <section class="c1">
        <div>
            <h4>Data Sharing</h4>
            <p>We uphold the anonymity and confidentiality of all secrets submitted by our users. None of the secrets are shared with third parties. We deeply respect your privacy and ensure that your secrets remain solely between you and our platform.</p>
        </div>
    </section>
    <section class="c1">
        <div>
            <h4>Security</h4>
            <p>While we take comprehensive measures to safeguard the confidentiality and security of the secrets submitted to Top Secrets, we acknowledge that absolute security cannot be guaranteed. Nonetheless, we prioritize your security and continuously strive to enhance our protective mechanisms.</p>
        </div>
    </section>
    <section class="c1">
        <div>
            <h4>Cookies</h4>
            <p>To preserve your privacy, we refrain from utilizing cookies to track user activity on our website. Our commitment to respecting your privacy means that we do not engage in any intrusive tracking mechanisms, ensuring a safe and anonymous browsing experience for all users.</p>
        </div>
    </section>
</main>

<%- include('partials/footer') %>
