<%- include('partials/header') %>

        <div 
            class="container mt-5"
            style="margin-bottom: 197px"
        >
            <h1>Register</h1>

            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <!-- Makes POST request to /register route -->
                            <form
                                action="/register"
                                method="POST"
                            >
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="username"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input
                                        placeholder="minimum 8 length with atleast 1 special ,upper ,lower and a number"
                                        type="password"
                                        class="form-control"
                                        name="password"
                                        minlength="8"
                                        id="user-password"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="button_all_black"
                                    id="user-register"
                                >
                                    Register
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card social-block">
                        <div class="card-body">
                            <a
                                class="btn btn-block btn-social btn-google"
                                href="/auth/google"
                                role="button"
                            >
                                <i class="fab fa-google"></i>
                                Sign Up with Google
                            </a>
                        </div>
                    </div>

                    <div class="card social-block">
                        <div class="card-body">
                            <a
                                class="btn btn-block btn-social btn-facebook"
                                href="/auth/facebook"
                                role="button"
                            >
                                <i class="fab fa-facebook"></i>
                                Sign Up with Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a
            href="#navbar"
            id="myBtn"
            title="Go to top"
        >
            <img
                src="https://img.icons8.com/ios-filled/50/000000/long-arrow-up.png"
                style="width: 80%; height: 70%; color: white; position: relative; left: 5px"
            />
        </a>
        <script>
            function validatePassword() {
                const userPassword = document.getElementById("user-password").value;
                var regex =
                    /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

                if (!regex.test(userPassword)) {
                    alert(
                        "Password must have at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character."
                    );
                    return false;
                }
            }
            const userRegister = document.getElementById("user-register");
            // console.log(userPassword);
            userRegister.addEventListener("click", validatePassword);
            
        </script>
        <%- include('partials/footer') %>
    </body>
</html>
