<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret!</h1>

      <% usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text">
          <%=user.secret%>
        </p>
        <% }) %>


          <hr>
          <div class="d-flex justify-content-center">
            <a class="button_all_white" href="/logout" role="button">Log Out</a>
            <a class="button_all_black" href="/submit-secret-form" role="button">Submit a Secret</a>
          </div>
    </div>
  </div>
  <a href="#navbar" id="myBtn" title="Go to top">
    <img
      src="https://img.icons8.com/ios-filled/50/000000/long-arrow-up.png"
      style="width: 70%; height: 70%; color: white; position: relative; left: 7px"
    />
  </a>
  <%- include('partials/footer') %>