<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

  <% usersWithSecrets.forEach(function(user){  %>
           <p class="secret-text"><%=user.secret%></p>
  <% })  %>


    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>


    <button onclick="topFunction()" id="myBtn" title="Scroll Up"
    
    style="
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    color: #fff;
  background-color: #000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    
    
    
    
    "
    
    
    
    
    
    > Scroll Up</button>
  </div>
</div>

<script>
  let myButton = document.getElementById("myBtn");

  function topFunction() {
    document.documentElement.scrollTop = 0;
  }
</script>

<%- include('partials/footer') %>
