body.dark,
html.dark {
  background-color: #192e4e;
  color: white;
}
#theme-toggle.dark {
  background: #0e0d0d;
  color: white;
}
.form-inline a.dark {
  background-color: #0e0d0d !important;
  color: white !important;
}
.hero.dark,
.hero .main-content h1.dark {
  color: #a7daff !important;
}
.about-title.dark {
  color: white !important;
}
.login-container.dark,
.register-container.dark {
  background-color: rgba(255, 255, 255, 0.105);
}
button.dark {
  background-color: #a7daff;
  color: #192e4e;
}
button.secondary.dark {
  color: #192e4e;
  background-color: #a7daff;
}
}
#about.dark {
  background-color: #093c7e !important;
  color: white !important;
}
.secrets-container.dark {
  background-color: #192e4e !important;
  color: #a7daff;
}
#nav_small.side_nav.dark {
  background-color: #a7daff;
}
#nav_small.side_nav a.dark {
  color: #192e4e !important;
}
