body.dark,
html.dark {
  background-color: #3f1b52;
  color: white;
}
#theme-toggle.dark {
  background: #0e0d0d;
  color: white;
}
.form-inline a.dark {
  background-color: #0e0d0d !important;
  color: white !important;
}
.hero.dark,
.hero .main-content h1.dark {
  color: #f6c4ff !important;
}
.about-title.dark {
  color: white !important;
}
.login-container.dark,
.register-container.dark {
  background-color: rgba(255, 255, 255, 0.105);
}
button.dark {
  background-color: #f6c4ff;
  color: #3f1b52;
}
button.secondary.dark {
  color: #f6c4ff;
  outline-color: #f6c4ff;
  background-color: #3f1b52;
}
#about.dark {
  background-color: #610d4a !important;
  color: white !important;
}
.secrets-container.dark {
  background-color: #3f1b52 !important;
  color: #f6c4ff;
}
#nav_small.side_nav.dark {
  background-color: #f6c4ff;
}
#nav_small.side_nav a.dark {
  color: #3f1b52 !important;
}
