@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,600;1,900&display=swap");
:root {
  --accent-clr: #192e4e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
::selection {
  color: var(--accent-clr);
  background-color: #e1e6ff;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  max-width: 100vw;
  font-family: Poppins, sans-serif;
  background-color: #a7daff;
}
html {
  overflow-x: hidden;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 20px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #a7daff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid var(--accent-clr);
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1.25s linear infinite;
}
nav a {
  color: #a7daff !important;
}
nav a:hover {
  border: 1px solid #a7daff !important;
}
.navbar-brand {
  color: white !important;
}
#nav_small {
  display: none;
}
#theme-toggle {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50px;
  background-color: #a7daff;
  background: transparent;
  color:#a7daff;
  margin-right: 20px;
}
button {
  cursor: pointer;

  padding: 1em 2em;
  border: none;
  outline: none;
  background: var(--accent-clr);
  color: #a7daff;
  font-size: 1.0rem;
  border-radius: 10px;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

  -webkit-tap-highlight-color: transparent;
}
button.secondary {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  outline: none;
  background: var(--accent-clr);
  color: #a7daff;
  font-size: 1.0rem;
  border-radius: 10px;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
  -webkit-tap-highlight-color: transparent;
}
button:hover {
  background-color: #070b43b2;
  color: #00ffa6;
}
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  z-index: 10;
  justify-content: space-evenly;
}
header {
  position: relative;

  z-index: 30;

  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 3rem;
}
header a {
  text-decoration: none;
  max-width: 300px;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #3d4372;
  width: max-content;
}
.hero .container {
  width: max-content;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
}
.hero .main-content {
  position: relative;
  z-index: 10;
  width: 60vw;
  max-width: 650px;
  margin-top: -0px;
}
.hero .main-content h1 {
  font-size: clamp(2rem, 7vw, 4rem);
  color: #0b0967;
}
.hero .main-content .highlight {
  color: var(--accent-clr);
}
.hero .main-content .char {
  height: 1.3em;
  overflow: hidden;
  padding-top: 1.2em;

  animation: wipe-in 1s ease-in-out forwards;
}
.hero .main-content .word {
  white-space: nowrap;
}
.hero .buttons-container {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  justify-content: flex-start;
  opacity: 1;
  transform: translateY(10px);
  transition: 1.25s ease-in-out;
}
.illustration {
  scale: 2.5;
  margin-top: -10%;
  animation: wave 4s ease-in-out infinite;
}
.hamburger {
  display: none;
}
#about {
  background-color: var(--accent-clr);
  color: #a7daff;
  padding: 4rem 3rem;
  flex-direction: column;
}
#about p {
  text-align: center;
  max-width: 700px;
  font-size: 3em;
  font-weight: 100;
}
#about button {
  border: 2px solid #a7daff;
}
.about-page {
  padding: 4.2rem;
}
.about-title {
  font-size: 3rem;
  font-weight: 700;
  color: #1b1c52;
  padding-left: 1ch;
  border-left: 15px solid currentColor;
  border-radius: 10px;
}
.container-about {
  justify-content: space-between;
}
.container-image {
  padding-bottom: 3%;
}
.login-container .card,
.register-container .card {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  filter: none;
}
.login-container .card-body,
.register-container .card-body {
  padding-left: 0;
}
.login-container,
.register-container {
  background-color: rgba(255, 255, 255, 0.473);
  padding: 2rem;
  border-radius: 20px;
}
/* input {
  padding: 1rem !important;
  border-radius: 10px !important;
} */
#goToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 0;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 100;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.secrets-container {
  background-color: #a7daff;
}
.secrets-container h1 {
  font-size: 3em;
}
.secrets-container .fa-key {
  scale: 0.7;
}
.secret-text {
  font-size: 1.3em;
  padding: 1rem;
  display: flex;
}
.vote-container{
  display: flex;
}
.inner-secret-text{
  margin-left: 30%;
  margin-right: 15px;
}
.vote-container{
  padding: 0 5px;
}
.vote-container img{
  margin: 0 5px;
}
.vote-count{
  margin-right: 10px;
}



@media (max-width: 600px) {
  .flexbox {
    flex-wrap: wrap;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .illustration {
    scale: 1;
  }
  .hamburger {
    display: block;
    color: #a7daff;
  }
  .nav_big {
    display: none !important;
  }
  #nav_small.side_nav {
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-clr);
    color: #a7daff;
  }
  #nav_small.side_nav a {
    width: 100%;
    color: #a7daff;
  }
  .hero .container {
    align-items: center;
  }
  .main-content {
    margin-left: unset !important;
    margin-top: unset !important;
  }
  .main-content h1 {
    text-align: center;
  }
  .buttons-container {
    justify-content: center !important;
    align-items: center;
    width: 100%;
  }
  button{
    font-size: 0.9em;
  }
  .tagline{
    font-size: 0.6rem;
  }
}

@keyframes wipe-in {
  0% {
    padding-top: 1.3em;
  }
  100% {
    padding-top: 0;
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
