body {
  background-color: #e8ecef;
}
html {
  scroll-behavior: smooth;
}
.centered {
  padding-top: 200px;
  text-align: center;
}
.about-title{
  text-align: center;
  letter-spacing: 0.01em;
  padding:20px;
  font: 8rem itc-bodoni-175, serif;
  font-style: italic;
  color: black;
}
@media (max-width:760px) {
  .about-title{
    font-size: 6rem;
  }
}
@media (max-width:580px) {
  .about-title{
    font-size: 4rem;
  }
}
@media (max-width:400px) {
  .about-title{
    font-size: 3rem;
  }
}

/* .con */
.hamburger{
  display: none;
}
@media screen and (max-width:500px) {
  .hamburger{
    display: block;
    color:#343A40;
    padding:3px 8px;
    background-color: white;
    border:1px solid black;
    border-radius: 2px;
  }
}
@media screen and (max-width:500px) {
  .form-inline a{
    display: none;
  }
}
.side_nav{
  display: none;
}
@media (max-width:500px){
  .side_nav{
    height: fit-content;
    width:100vw;
    position: fixed;
    z-index: 12;
    top: 56px;
  }
  .side_nav .content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .side_nav .content a{
    color:white;
    background-color: #343A40;
    border-radius:0px;
    border: 1px solid black;
  }
  @media (min-width:200px) and (max-width:500px){
    .side_nav .content a{
      margin:0px!important;
    }
  }
  .side_nav .content a:hover{
    background-color: black;
    color: white;
  }
  .side_nav{
    display: block;
    right: 0px;
    transition: right 0.3s ease-in-out;
  }
}
.hide{
  overflow: hidden;
  height: 0;
  max-height: 0;
  right:-450px;
  transition: right 0.3s ease-in-out;
}
.paragraph{
  margin-left:11%;
}
@media screen and (max-width:992px){
  .paragraph{
    text-align: center;
    margin:auto;
    padding:10px;
  }
}
#theme-toggle {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-right: 1em;
}

@media (max-width: 1000px) and (min-width: 320px) {
  .jumbotron {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: x-large;
  }
}
.form-inline a {
  transition: 0.3s;
}
.form-inline a:hover {
  transform: scale(1.1);
}
.container a {
  transition: 0.3s;
}
.container a:hover {
  transform: scale(1.1);
}

.social {
  transition: 0.3s;
}
.social:hover {
  transform: scale(1.2);
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.container-about {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top: -33px;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}
.container-image {
  min-width: 450px;
  max-width: 500px;
  margin: 20px!important;
}
@media (min-width:450px){
  .container-image {
    min-width:300px;
    max-width:450px;
    margin:20px!important;
  }
}
@media (min-width:200px){
  .container-image {
    min-width:200px;
    max-width:300px;
    margin:20px!important;
  }
}
@media (min-width:200px) and (max-width:400px){
  .container-image img {
    transform: scale(0.9);
  }
}
#myBtn {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: 1px solid black;
  border-radius: 50%;
  outline: none;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  transform: scale(0.6);
  transition: 0.3s;
}
#myBtn:hover {
  transform: scale(1.1);
  background-color: rgb(173, 167, 167);
}

@media screen and (max-width: 992px) {
  .register {
    display: none;
  }
  .login {
    display: none;
  }
  .container-about {
    flex-direction: column-reverse;
  }
  .container-image {
    margin-bottom: 80px;
    max-width: 600px;
  }
}
.button_all_white{
  width: fit-content;
  height: fit-content;
  background-color:white;
  padding:5px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  color:black;
  margin:5px;
  cursor: pointer;
}
.button_all_black{
  width: fit-content;
  height: fit-content;
  background-color:black;
  padding:5px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 300;
  color:white;
  margin:5px;
  cursor: pointer;
}
.button_all_black:hover{
  text-decoration: none;
  color:white;
}
.button_all_white:hover{
  text-decoration: none;
  color:black;
}
.display-3{
  font-size: 5rem;
}
@media (min-width:600px) and (max-width:850px){
  .display-3{
    font-size: 3rem;
  }
}
@media (min-width:400px) and (max-width:600px){
  .display-3{
    font-size: 2.5rem;
  }
}
@media (min-width:200px) and (max-width:400px){
  .display-3{
    font-size: 2rem;
  }
}
