body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.container-about {
  display: flex;
  flex-direction: row;
  margin-bottom: 197px;
  margin-top: 197px;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}
.container-image {
  min-width: 300px;
  max-width: 600px;
}
@media screen and (max-width: 992px) {
  .register {
    display: none;
  }
  .login {
    display: none;
  }
  .container-about {
    flex-direction: column-reverse;
  }
  .container-image {
    margin-bottom: 80px;
    max-width: 600px;
  }
}
