body {
  background-color: #e8ecef;
}
html {
  scroll-behavior: smooth;
}
.centered {
  padding-top: 200px;
  text-align: center;
}

.form-inline a {
  transition: 0.3s;
}
.form-inline a:hover {
  transform: scale(1.1);
}
.container a {
  transition: 0.3s;
}
.container a:hover {
  transform: scale(1.1);
}

.social {
  transition: 0.3s;
}
.social:hover {
  transform: scale(1.2);
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.container-about {
  display: flex;
  flex-direction: row;
  margin-bottom: 197px;
  margin-top: 197px;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}
.container-image {
  min-width: 300px;
  max-width: 600px;
}

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 45%;
  transition: 0.3s;
}
#myBtn:hover {
  transform: scale(1.1);
  background-color: rgb(173, 167, 167);
}

@media screen and (max-width: 992px) {
  .register {
    display: none;
  }
  .login {
    display: none;
  }
  .container-about {
    flex-direction: column-reverse;
  }
  .container-image {
    margin-bottom: 80px;
    max-width: 600px;
  }
}
